<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Rory Crispin -rorycrispin.co.uk- rozzles.com
  ~
  ~ Distributed under the Attribution-NonCommercial-ShareAlike 4.0 International License, full conditions can be found here:
  ~ http://creativecommons.org/licenses/by-nc-sa/4.0/
  ~
  ~ This is free software, and you are welcome to redistribute it under certain conditions;
  ~
  ~  Go crazy,
  ~  Rozz xx
-->
<manifest
    package="com.rozzles.pinup"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".PinUp"
            android:exported="true"
            android:label="@string/daydream_name">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/my_dream"/>
        </service>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".settings.addNewsActivity"
            android:label="@string/title_activity_add_news">
        </activity>
    </application>

</manifest>
